name: golangci-lint

on:
  workflow_call:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/**'
      - '**/*.go'
      - '**/*.mod'
      - '**/*.sum'
      - '.golangci.yml'
      - 'Makefile'
    branches-ignore:
      - 'main'
      - 'releases/**'
    tags-ignore:
      - 'v*.*.*'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: true
          cache-dependency-path: |
            go.sum
            go.mod

      - name: Install dependencies
        run: go mod download
        
      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.5.0
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Run linter with Makefile
        run: make go-lint