name: test

on:
  workflow_call:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/**"
      - "**/*.go"
      - "**/*.mod"
      - "**/*.sum"
      - "Makefile"
    branches-ignore:
      - "main"
      - "releases/**"
    tags-ignore:
      - "v*.*.*"

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: |
            go.sum
            go.mod

      - name: Install dependencies
        run: go mod download

  vet:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: |
            go.sum
            go.mod

      - name: Download dependencies
        run: go mod download

      - name: Run go vet
        run: go vet ./...

  test:
    needs: setup
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: |
            go.sum
            go.mod

      - name: Download dependencies
        run: go mod download

      - name: Run tests with Makefile
        env:
          TEST_SILENT: 1
        run: make go-test

  govulncheck:
    needs: setup
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - uses: actions/checkout@v4

      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.25
          go-package: ./...
